<!DOCTYPE html>
<html>
    <head>
        <title>Deresze</title>
		<LINK href="http://192.168.102.162/deresze/web/style.css" rel="stylesheet" type="text/css">
    </head> 
    <body>
		<a href="{{ path('homepage') }}"> <img id="logo" src="http://dev.ioki.com.pl/~apadol/impress/logo.png"></a>
		<h1>deresze.ioki.com.pl</h1>
		<h2>{{ item.title }}</h2>
		<h3>Autor: {{ item.author }}</h3>
		<img src="../../images/039.jpg">
		<img src="../../images/040.jpg">
		<img src="../../images/041.jpg">
        
        {% for i in range(0, 2, 1) %}
            {% if item.content[i] is defined %}
                <span class="content" id="text{{ i + 1 }}">
                {{ item.content[i] }}
                </span>
            {% endif %}
        {% endfor %}
    </body>
</html>